@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.card {
  $min-height: 4.4rem;
  $border-r: $card-border-r;
  $padding-r: 0.2rem;
  $options-highlight-w: 0.3rem;

  display: flex;
  align-items: center;
  background-color: $card-bg;
  border-radius: $border-r;
  padding-left: $card-padding-lr;
  margin-top: 2rem;
  min-height: $min-height;
  transition: background-color $transition-fast;
  position: relative;

  .title {
    flex-grow: 1;
    padding: 1rem 0;
    word-wrap: break-word;
    min-width: 0;
  }

  .options-highlight {
    position: absolute;
    display: none;
    width: $options-highlight-w;
    background-color: $highlight-color;
  }

  .options {
    display: flex;
    flex-shrink: 0;
    align-self: stretch;
    align-items: flex-start;
    position: relative;
    overflow: hidden;

    $icon-top: ($min-height - $icon-btn-width) * 0.5;
    & > .icon {
      z-index: 1;
      width: $icon-btn-width;
      height: $icon-btn-width;
      position: relative;
      right: -$icon-btn-width;
      top: $icon-top;
      color: rgba($text-color, 0);
      transition: color $transition-base, transform $transition-base * 0.7 ease-in;
    }
  
    .options-highlight {
      height: $icon-top * 2 + $icon-btn-width;
      border-bottom-left-radius: $options-highlight-w;
      border-top-left-radius: $options-highlight-w;
      right: 0;
    }
  }

  .options-container, & > div[class*="action-container"] {
    $margin-left: 1rem;
    left: calc(100% + #{$margin-left});
    top: 0;

    & > * {
      white-space: nowrap;
    }

    .select-container:not(:last-of-type) {
      margin-bottom: 0.7rem;
    }
  }

  .options-container {
    @include options-container($border-r);

    .options-highlight {
      display: block;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &:hover .options > .icon, .options > .icon.is-active {
    transition: color $transition-fast, transform $transition-base cubic-bezier(0.4, 1.57, 0.24, 1.03);
    transform: translateX(-$icon-btn-width);
    color: rgba($text-color, 0.35);
  }

  &:hover .options > .icon:hover, .options > .icon.is-active {
    color: $highlight-color;

    & + .options-highlight {
      display: block;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: lighten($card-bg, 3%);
  }
}