@import './variables.scss';
@import './mixins.scss';

body, html, #root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
}

html {
  font-size: 62.5%;
  
  &, * {
    margin: 0;
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}

body {
  background-color: $bg-color;

  &, input, textarea {
    color: $text-color;
    font-size: 1.6rem;
    font-family: $font-family;
    font-weight: 400;
  }

  input, textarea {
    @include reset-input;
  }

  textarea {
    display: block;
    overflow: hidden;
    resize: none;
  }
}

.icon {
  @include flex-center;
}