@import './variables.scss';
@import './mixins.scss';

html {
  font-size: 62.5%;
  
  &, * {
    margin: 0;
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}

body {
  background-color: $bg-color;

  &, input, textarea {
    color: $text-color;
    font-size: 1.6rem;
    font-family: $font-family;
    font-weight: 400;
  }

  input, textarea {
    @include reset-input;
  }

  textarea {
    // min-height: 44px;
    line-height: 2rem;
    min-height: 4rem;
  }
}

.icon {
  @include flex-center;
}