@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap');
@import url('https://css.gg/css');

$font-family: 'Nunito Sans', sans-serif;

$list-spacing: 2rem;
$list-width: 28rem;
$list-border-r: 0.7rem;
$card-border-r: $list-border-r * 0.62;
$card-padding-lr: 1.5rem;

$icon-btn-width: 3rem;

$bg-color: #1B2022;
$text-color: #F4F7F5;
$highlight-color: #FF8811;
$accent-color: #16C172;
$yes-color: #53DD6C;
$yes-inactive-color: lighten($yes-color, 20%);
$no-color: #F04651;
$no-inactive-color: lighten($no-color, 15%);
$overlay-bg-color: rgba(black, 0.3);

$card-bg: #525B60;
$list-bg: lighten($bg-color, 9%);
$options-bg: lighten($bg-color, 7%);

$transition-base: 0.2s;
$transition-fast: 0.1s;

$list-header-min-height: 5rem;
$list-title-font-size: 1.85rem;