@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.list {
  width: $list-width;
  background-color: $list-bg;
  padding: 1.7rem;
  padding-top: 1.2rem;
  border-radius: $list-border-r;

  .header {
    min-height: $list-header-min-height;
    display: flex;
    flex-direction: column;

    .info-wrapper {
      flex-grow: 1;
      display: flex;
      align-items: center;
      position: relative;
      padding-bottom: 0.5rem;
    
      .title {
        flex-grow: 1;
        font-size: $list-title-font-size;
      }
    
      & > .icon {
        @include clickable;

        width: 3rem;
        align-self: stretch;

        &:last-of-type {
          width: 2rem;
          justify-content: flex-end;

          i {
            position: relative;
            left: -25%;
          }
        }
      }
    }
  }

  .list-options-container, div[class*="action-container"] {
    right: 0;
    top: 100%;
  }

  .list-options-container {
    @include options-container(0.5rem);
    z-index: 2;

    .options-highlight {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.5rem;
      background-color: $highlight-color;
    }
  }

  div[class*="action-container"] {
    @include popup-container(0.5rem);
    z-index: 2;
    padding: 1.5rem 2rem;

    .action-title {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: $highlight-color;
    }

    .select-container {
      position: relative;
      display: flex;
      justify-content: center;

      select {
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    .confirm-icon {
      @include clickable;
      margin-top: 1.5rem;
      --ggs: 1.3;
    }
  }

  .add-card {
    display: none;

    &.adding-card {
      display: flex;
    }

    textarea {
      flex-grow: 1;
      margin: 1rem 0;
      margin-right: $card-padding-lr;
    }
  }
}