@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.list {
  width: $list-width;
  background-color: $list-bg;
  padding: 1.7rem;
  padding-top: 1.2rem;
  border-radius: $list-border-r;

  .header {
    min-height: $list-header-min-height;
    display: flex;
    flex-direction: column;

    .info-wrapper {
      flex-grow: 1;
      display: flex;
      align-items: center;
      position: relative;
    
      .title {
        flex-grow: 1;
        display: inline-block;
        padding: 1rem 0;
        font-size: $list-title-font-size;
      }
    
      & > .icon {
        @include clickable;

        width: 3rem;
        align-self: stretch;

        &:last-of-type {
          width: 2rem;
          justify-content: flex-end;

          i {
            position: relative;
            left: -25%;
          }
        }
      }
    }
  }

  .actions {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #555;
    padding: 1.5rem;
    border-radius: 0.8rem;
    display: none;

    .action {
      @include default-color-transition;
      display: flex;
      
      &:not(:last-child) {
        margin-bottom: 1.3rem;
      }

      .icon {
        margin-right: 1rem;
        margin-bottom: 0.3rem;
        transition: none;
      }

      &:hover {
        color: $highlight-color;
        cursor: pointer;
      }
    }

    &.actions-open {
      display: block;
    }
  }

  .add-card {
    display: none;

    &.adding-card {
      display: flex;
      align-items: stretch;
    }

    textarea {
      flex-grow: 1;
      margin: 1rem 0;
      margin-right: $card-padding-lr;
    }
  }
}