@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$add-icon-width: 5rem;
$edit-icon-width: 3rem;
$divider-width: 1px;

.lists {
  display: flex;
  align-items: flex-start;
  padding-top: 2rem;

  & > * {
    flex-shrink: 0;
    margin: 0 $list-spacing;
  }

  .add-list {
    display: flex;
    flex-direction: column;
    min-height: $list-header-min-height;

    .header {
      display: flex;
      flex-grow: 1;

      input {
        @include reset-input;
        visibility: hidden;
        width: 0;
        font-size: $list-title-font-size;
        transition: width $base-transition-t ease-out;
        margin: 0.7rem 0;
      }

      .add-toggle-icon {
        width: $add-icon-width;
      }

      .icon {
        i {
          margin-top: 0.15rem;
          transition: transform $base-transition-t * 1.5 cubic-bezier(.31,2.06,.36,1.03);
          transition: color $base-transition-t;

          &.gg-math-plus {
            color: $text-color;
          }
        }

        &:hover i.gg-math-plus {
          color: $highlight-color;
        }
      }

      .divider {
        width: $divider-width;
        margin: 1.3rem 0;
        background-color: rgba($accent-color, 0.5);
      }
    }

    &.adding-list {
      $cancel-icon-width-w: 0.95;

      .icon {
        width: $edit-icon-width;

        &:hover {
          i.gg-check {
            color: $yes-color;
          }
  
          i.gg-math-plus {
            color: $no-color;
          }
        }
      }

      .header .add-toggle-icon {
        justify-content: flex-end;
        width: $edit-icon-width * $cancel-icon-width-w;
        
        i {
          transform: rotate(45deg);
          color: $no-inactive-color;
        }
      }

      .confirm-add-icon {
        justify-content: flex-start;
        color: $yes-inactive-color;
        --ggs: 1.2;
      }
      
      .header > input {
        visibility: visible;
        width: $list-width - $edit-icon-width * (1.0 + $cancel-icon-width-w);
      }
    }
  }
}

.list-underline {
  background-color: $accent-color;
  height: 0.5rem;
}