@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$add-icon-width: 5rem;
$divider-width: 1px;

.filter-container input {
  background-color: lighten($bg-color, 10%);
  padding: 1rem;
  margin-left: 2rem;
  border-radius: 0.4rem;
}

.lists {
  display: flex;
  align-items: flex-start;
  padding: 2rem 0rem;
  padding-right: 4rem;
  overflow: auto;

  & > * {
    flex-shrink: 0;
    margin: 0 $list-spacing;
  }

  .add-list {
    display: flex;
    flex-direction: column;
    min-height: $list-header-min-height;

    .header {
      display: flex;
      flex-grow: 1;

      input {
        @include reset-input;
        visibility: hidden;
        width: 0;
        font-size: $list-title-font-size;
        transition: width $transition-base ease-out;
        margin: 0.7rem 0;
      }

      .add-toggle-icon {
        width: $add-icon-width;
      }

      .icon {
        @include clickable;

        i {
          margin-top: 0.15rem;
          transition: transform $transition-base * 1.5 cubic-bezier(.31,2.06,.36,1.03);
        }
      }

      .divider {
        width: $divider-width;
        margin: 1.3rem 0;
        background-color: rgba($accent-color, 0.5);
      }
    }

    &.adding-list {
      $cancel-icon-width-w: 0.95;

      .icon {
        width: $icon-btn-width;

        &.confirm-add-icon:hover {
          color: $yes-color;
        }

        &.add-toggle-icon:hover {
          color: $no-color;
        }
      }

      .header .add-toggle-icon {
        justify-content: flex-end;
        width: $icon-btn-width * $cancel-icon-width-w;
        color: $no-inactive-color;
        
        i {
          transform: rotate(45deg);
        }
      }

      .confirm-add-icon {
        justify-content: flex-start;
        color: $yes-inactive-color;
        --ggs: 1.2;
      }
      
      .header > input {
        visibility: visible;
        width: $list-width - $icon-btn-width * (1.0 + $cancel-icon-width-w);
      }
    }
  }
}

.list-underline {
  background-color: $accent-color;
  height: 0.5rem;
}